header {
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #e5a63c;
  background-image: url("../images/background-img.png");
}

header h2 {
  
  color: #ffffff;
}
