#user-header {
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #e5a63c;
  background-image: url("../images/background-img.png");
}

#user-header h2 {
  color: #ffffff;
}

@media only screen and (min-width: 1024px) {
  #user-header {
    width: 25em;
  }
}
/* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #user-header {
    margin-top: 120px;
  }
}
/* Tablet: max width of 768px  */
@media only screen and (max-width: 768px) and (min-width: 600px) {
  #user-header {
    margin-top: 120px;
  }
}
